# Configuration file

clipboard {
    I:0 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        120
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        15
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        120
        120
        -38
        99
        98
        22
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        80
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        -58
        -95
        -90
        18
        69
        13
        67
        3
        -57
        42
        42
        -128
        80
        50
        1
        -78
        126
        6
        18
        -63
        -96
        -45
        47
        26
        -62
        -64
        32
        -64
        66
        28
        6
        -86
        -59
        -48
        15
        18
        39
        22
        0
        -43
        98
        -24
        23
        116
        97
        96
        96
        116
        32
        14
        3
        -43
        82
        93
        63
        -91
        -18
        -89
        52
        -4
        -122
        120
        -6
        -95
        36
        -1
        80
        2
        0
        -121
        -30
        14
        -69
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:1 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        120
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        51
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        126
        120
        -38
        99
        98
        22
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        80
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        -58
        -95
        -90
        18
        69
        13
        67
        3
        -57
        42
        32
        -104
        26
        26
        26
        54
        -127
        -127
        -127
        -115
        20
        12
        -46
        -77
        10
        10
        70
        -11
        3
        -11
        -117
        -122
        -80
        77
        16
        96
        33
        14
        3
        -43
        98
        -24
        7
        -119
        19
        107
        63
        80
        45
        -122
        126
        65
        23
        -74
        9
        -116
        14
        -60
        97
        -96
        90
        -86
        -21
        -89
        -44
        -3
        -108
        -122
        -33
        104
        -6
        37
        75
        63
        0
        -101
        34
        34
        107
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:2 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        122
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        15
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        84
        120
        -38
        99
        98
        22
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        82
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        -58
        -95
        -90
        18
        69
        13
        67
        3
        -57
        42
        42
        -128
        80
        50
        1
        -78
        126
        6
        18
        -63
        -88
        -2
        81
        -3
        -61
        73
        63
        37
        -7
        -121
        18
        0
        0
        -76
        -12
        4
        -47
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:3 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        121
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        0
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        81
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        84
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        15
        4
        7
        -104
        -79
        -61
        -1
        80
        -128
        79
        30
        68
        51
        -32
        0
        48
        117
        -93
        -14
        -76
        -109
        -89
        52
        -2
        0
        76
        32
        124
        89
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
    I:4 <
        28
        99
        104
        105
        115
        101
        108
        115
        97
        110
        100
        98
        105
        116
        115
        58
        99
        104
        105
        115
        101
        108
        101
        100
        95
        119
        111
        111
        100
        10
        0
        0
        10
        0
        14
        66
        108
        111
        99
        107
        69
        110
        116
        105
        116
        121
        84
        97
        103
        8
        0
        1
        98
        0
        34
        109
        105
        110
        101
        99
        114
        97
        102
        116
        37
        51
        65
        108
        111
        103
        63
        97
        120
        105
        115
        61
        120
        38
        118
        97
        114
        105
        97
        110
        116
        61
        111
        97
        107
        3
        0
        1
        115
        0
        0
        0
        55
        1
        0
        2
        110
        99
        0
        7
        0
        1
        88
        0
        0
        0
        110
        120
        -38
        99
        98
        18
        -56
        -51
        -52
        75
        77
        46
        74
        76
        43
        81
        53
        118
        76
        -52
        44
        -78
        103
        80
        66
        22
        -55
        -55
        79
        -73
        79
        -84
        -56
        44
        -74
        -83
        80
        43
        75
        44
        -54
        76
        -52
        43
        -79
        -51
        79
        -52
        102
        96
        104
        96
        -7
        63
        -36
        1
        59
        20
        -2
        7
        99
        116
        46
        -59
        -14
        13
        -116
        -1
        -39
        27
        24
        17
        -112
        1
        10
        65
        44
        -112
        44
        17
        -14
        -1
        -111
        -27
        -111
        33
        -118
        60
        127
        3
        127
        -13
        -1
        38
        32
        110
        -2
        -33
        -64
        -34
        -64
        78
        -78
        60
        14
        -13
        1
        -93
        87
        118
        -39
        3
        0
        2
        108
        118
        0
        0
        0
        0
        0
        0
     >
}


