# Configuration file

client {
    # Middle-click sorting module
    B:middleClickSorting=true

    # Mouse wheel movement module
    B:mouseWheelMoving=false
}


general {
    S:containerBlacklist <
        cofh.thermalexpansion.gui.container.storage.ContainerSatchel
        gr8pefish.ironbackpacks.container.ContainerBackpack
        net.ndrei.teslacorelib.containers.BasicTeslaContainer
     >
    B:containerDebug=false
}
